Repository silx-kit/pyFAI, pull requests merged in 2023-12, with the labels that each got.

#2008 fix typo in doc/source/usage/tutorial/Ellipse/ellipse.ipynb
  doc/source/usage/tutorial/Ellipse/ellipse.ipynb
Labels: doc

#2013 Orientation ... still bugs in some calculations
  src/pyFAI/detectors/_common.py
  src/pyFAI/detectors/_imxpad.py
  src/pyFAI/geometry/core.py
  src/pyFAI/test/test_detector.py
  src/pyFAI/test/test_geometry.py
Labels: ready to merge

#2026 Fix the 2-pi discontinuity when using `delta_array` with chi-space
  src/pyFAI/geometry/core.py
  src/pyFAI/test/test_geometry.py
Labels: ready to merge

#2025 Doc on orientation with examples
  doc/source/usage/tutorial/Orientation.ipynb
  doc/source/usage/tutorial/index.rst
Labels: ready to merge, doc

#2020 Expose the orientation selection in the calibration GUI (v2)
  doc/source/changelog.rst
  src/pyFAI/detectors/orientation.py
  src/pyFAI/geometry/core.py
  src/pyFAI/gui/dialog/DetectorSelectorDialog.py
  src/pyFAI/gui/model/DetectorModel.py
  src/pyFAI/gui/tasks/ExperimentTask.py
  src/pyFAI/gui/widgets/DetectorLabel.py
  src/pyFAI/resources/gui/calibration-experiment.ui
  src/pyFAI/resources/gui/detector-selection-drop.ui
Labels: gui, ready to merge

#2016 new arg parser for 1d
  src/pyFAI/app/benchmark.py
  src/pyFAI/benchmark/__init__.py
  src/pyFAI/method_registry.py
Labels: work in progress
